body{
background:#e6f2ff;
font-family:Arial;
}

.form-box{
width:300px;
margin:auto;
padding:20px;
background:white;
border:2px solid #ccc;
border-radius:10px;
}

label{
display:block;
margin-top:10px;
}

input,select{
width:100%;
padding:8px;
margin-top:5px;
}

button{
margin-top:15px;
padding:10px;
background:blue;
color:white;
border:none;
border-radius:5px;
}

button:hover{
background:darkblue;
}