.login{
width:250px;
margin:auto;
text-align:center;
}

input{
width:100%;
padding:10px;
margin:10px 0;
}

input:focus{
border:2px solid blue;
}

button{
padding:10px;
background:blue;
color:white;
border:none;
}

button:hover{
background:darkblue;
}